{% load static %}
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo1.png' %}" alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link"><i class="flaticon-dashboard"></i>
                    <span>Admin</span>

                </a>
            </li>

            <li class="nav-item">
                <a hx-get="{% url 'all_students' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-classmates"></i>

                    <span>Students</span>
                </a>
            </li>

            <li class="nav-item">
                <a hx-get="{% url 'all_teachers' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-multiple-users-silhouette"></i>

                    <span>Teachers</span>
                </a>
            </li>

            <li class="nav-item">
                <a hx-get="{% url 'all_parents' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-couple"></i>

                    <span>Parents</span>
                </a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'all_books' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-books"></i>

                    <span>Library</span>
                </a>
            </li>

            <li class="nav-item">
                <a hx-get="{% url 'all_classrooms' %}" hx-target="#replace-target" hx-swap="outerHTML"
                    class="nav-link"><i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>

                    <span>Classes</span>
                </a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'all_subjects' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-open-book"></i><span>Subject</span></a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'allclasstimetable' %}" hx-target="#replace-target" hx-swap="outerHTML"
                    class="nav-link"><i class="flaticon-calendar"></i><span>Class
                        Timetables</span></a>
            </li>
            <!-- Attendency -->
            <li class="nav-item">
                <a class="nav-link" hx-get="{% url 'all_attendances' %}" hx-target="#replace-target"
                    hx-swap="outerHTML"><i class="flaticon-checklist"></i><span>Attendence</span></a>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a hx-get="{% url 'all_exams' %}" hx-target="#replace-target" hx-swap="outerHTML"
                            class="nav-link"><i class="fas fa-angle-right"></i>
                            Schedules</a>
                    </li>
                    <li class="nav-item">
                        <a hx-get="{% url 'allgrades' %}" hx-target="#replace-target" hx-swap="outerHTML"
                            class="nav-link"><i class="fas fa-angle-right"></i>
                            Grades</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'all_transport' %}" hx-target="#replace-target" hx-swap="outerHTML"
                    class="nav-link"><i class="flaticon-bus-side-view"></i><span>Transport</span></a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'hostel' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-bed"></i><span>Hostel</span></a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'notice' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-script"></i><span>Notice</span></a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'message' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-chat"></i><span>Message</span></a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'settings' %}" hx-target="#replace-target" hx-swap="outerHTML" class="nav-link"><i
                        class="flaticon-settings"></i><span>Settings</span></a>
            </li>
        </ul>
    </div>
</div>